In [1]:
#Cria o banco de dados e/ou inicia uma conexão

import sqlite3
con = sqlite3.connect('professores.db') #Caso o bd não exista, é criado, caso exista, é selecionado.
#conn de conector

In [2]:
#Cria um objeto cursor
cur = con.cursor()
#É utilizado para navegar e manipular os resultados de consultas em bd

In [3]:
# Cria uma tablea simples
cur.execute("CREATE TABLE aulas(titulo, data, duracao)")

In [4]:
# Apenas para verificar se a tabela foi criada corretamente
res = cur.execute("SELECT name FROM sqlite_master")
# res de resposta, recebe a seleção dos nomes das tabelas do master do sqlite (mostra tudo que tem no bd)
res.fetchall()
# fetch 'all' retorna todos 'one' retorna o primeiro

[('aulas',)]

In [5]:
# Agora  vamos adicionar linhas na tabela
cur.execute("""
    INSERT INTO aulas VALUES
        ('Aula 1', '01/01/2001', 50),
        ('Aula 2', '02/02/2002', 100)
""")# as """ servem para poder digitar em multiplas linhas
# Não é nescessário especificar as colunas SE passar os VALUES por completo e na mesma ordem de quando foram criadas
con.commit()
# Como houve alteração na estrutura do db, é necessário "commitar" ou confirmar a execução

In [6]:
res = cur.execute("SELECT titulo FROM aulas")
res.fetchall()

[('Aula 1',), ('Aula 2',)]

In [7]:
#Cria uma tabela chamada professor com duas colunas: id_professor e nm_professor 
cur.execute("""

CREATE TABLE professor (
    id_professor INTEGER PRIMARY KEY AUTOINCREMENT,
    nm_professor VARCHAR(100) NOT NULL
)

""")

In [14]:
#Cria uma variável res (de resposta) que procura as tabelas no banco de dados e retorna a primeira que achar
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchall()

[('aulas',), ('professor',), ('sqlite_sequence',)]

In [8]:
dados_aulas = [
    ("Evento 1", '03/03/2003', 250),
    ("Evento 2", '03/03/2003', 250),
    ("Evento 3", '03/03/2003', 250)
]

cur.executemany("INSERT INTO aulas (titulo, data, duracao) VALUES (?, ?, ?)", dados_aulas)

con.commit()

res = cur.execute("SELECT titulo FROM aulas")
res.fetchall()

[('Aula 1',), ('Aula 2',), ('Evento 1',), ('Evento 2',), ('Evento 3',)]

In [10]:
# Outra forma de verificar os dados inseridos:

for l in cur.execute("""SELECT duracao, titulo 
                     FROM aulas 
                     ORDER BY duracao"""):
    print(l)

(50, 'Aula 1')
(100, 'Aula 2')
(250, 'Evento 1')
(250, 'Evento 2')
(250, 'Evento 3')

In [12]:
try:
    with con:
        for i in range(10):
            cur.execute("""
                INSERT INTO professor (nm_professor) VALUES ('Professor {}');
                """.format(i+1))
except sqlite3.ProgrammingError as e:
    print("Deu ruim: ", e)

#con.commit()

for l in cur.execute("""SELECT 
                     nm_professor, id_professor 
                     FROM professor 
                     WHERE nm_professor='Professor 1' 
                     ORDER BY id_professor"""):
    print(l)

('Professor 1', 1)
('Professor 1', 11)
('Professor 1', 21)

In [13]:
con.close()