In [2]:

import sqlite3
con = sqlite3.connect('professores.db') #Caso o bd não exista, é criado, caso exista, é selecionado.
#conn de conector

#Cria um objeto cursor
cur = con.cursor()
#É utilizado para navegar e manipular os resultados de consultas em bd

# Cria uma tablea simples
cur.execute("""
            CREATE TABLE Clientes (
                ID_Cliente INTEGER PRIMARY KEY AUTOINCREMENT,
                Nome TEXT NOT NULL,
                Cidade TEXT NOT NULL
);
""")

In [3]:
cur.execute("INSERT INTO Clientes (Nome, Cidade) VALUES ('João Silva', 'São Paulo');")
cur.execute("INSERT INTO Clientes (Nome, Cidade) VALUES ('Maria Souza', 'Rio de Janeiro');")
cur.execute("INSERT INTO Clientes (Nome, Cidade) VALUES ('Pedro Santos', 'São Paulo');")
cur.execute("INSERT INTO Clientes (Nome, Cidade) VALUES ('Ana Costa', 'Rio de Janeiro');")
cur.execute("INSERT INTO Clientes (Nome, Cidade) VALUES ('Carlos Lima', 'Belo Horizonte');")
cur.execute("INSERT INTO Clientes (Nome, Cidade) VALUES ('Paula Nunes', 'São Paulo');")

con.commit()

In [4]:
cur.execute("INSERT INTO Clientes (Nome) VALUES ('Paula Nunes');")

IntegrityError: NOT NULL constraint failed: Clientes.Cidade

In [5]:
res = cur.execute("""
            SELECT Cidade, COUNT(*) AS Total_Clientes
            FROM Clientes
            GROUP BY Cidade;""")

res.fetchall()

[('Belo Horizonte', 1), ('Rio de Janeiro', 2), ('São Paulo', 3)]

In [6]:
cur.execute("""
    CREATE TABLE Pedidos (
    ID_Pedido INTEGER PRIMARY KEY AUTOINCREMENT,
    ID_Cliente INTEGER,
    Total_Pedido REAL,
    Data_Pedido TEXT,
    FOREIGN KEY (ID_Cliente) REFERENCES Clientes(ID_Cliente));"""
)

In [8]:
dados_pedidos = [
    (1, 150.75, '2024-08-01'),
    (2, 250.00, '2024-08-03'),
    (1, 99.99, '2024-08-05'),
    (2, 175.50, '2024-08-10'),
    (4, 300.00, '2024-08-12'),
    (4, 45.99, '2024-08-15'),
    (5, 129.99, '2024-08-18')
]

cur.executemany("INSERT INTO Pedidos (ID_Cliente, Total_Pedido, Data_Pedido) VALUES (?, ?, ?)", dados_pedidos)

con.commit()

In [9]:
res = cur.execute("""
            SELECT ID_Cliente, SUM(Total_Pedido) AS Total_Gasto
            FROM Pedidos
            GROUP BY ID_Cliente;""")

res.fetchall()

[(1, 250.74), (2, 425.5), (4, 345.99), (5, 129.99)]

In [17]:
res = cur.execute("""
            SELECT ID_Cliente, AVG(Total_Pedido) AS Media_Pedido
            FROM Pedidos
            GROUP BY ID_Cliente;
""")
res.fetchall()

[(1, 125.37),
 (2, 225.16666666666666),
 (3, 175.5),
 (4, 215.33),
 (5, 87.99000000000001),
 (6, 129.99)]